
include AUTHORS.rst

include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif

recursive-include diluvian *.py *.txt
include requirements.txt
recursive-include requirements *.txt
include conf/default.toml conf/cremi_datasets.toml conf/cremi_test_datasets.toml
